Flask==1.1.0
werkzeug==0.16.0
apache-airflow==1.10.12
cattrs==1.0.0
marshmallow-sqlalchemy==0.23.0
marshmallow==2.21.0
beautifulsoup4 
bs4
frozendict
geopy
ipython
kafka-python
matplotlib
numpy
py4j
pyelasticsearch
pymongo
requests
scipy
selenium
sklearn
tabulate
tldextract
wikipedia
findspark
iso8601
notebook>=5.7.8

